.LoginControl
{
	position: relative;
	top: 50px;
	/*left: 140px;*/
}
.PunchAlign
{
	padding-left: 40px;
}
.ButtonSpacing
{
	margin-bottom: 10px;
}
.EmployeeTitle
{
	padding-top: 5px;
	padding-left: 40px;
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	top: 20px;
}
.panelDpt
{
	top: 60px;
	left: 470px;
	position: absolute;
}
.panelLoc
{
	top: 110px;
	left: 470px;
	position: absolute;
}
.panelJob
{
	top: 160px;
	left: 470px;
	position: absolute;
}
.panelStats
{
	position: absolute;
	top: 190px;
	padding-left: 40px;
}
.PageButtonsTop
{
	position: absolute;
	top: 80px;
	padding-left: 40px;
	font-size: smaller;
}
.PageButtons
{
	position: absolute;
	top: 280px;
	padding-left: 40px;
}
.StatusMessageTable
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
}
.StatusMessages
{
	width: 400px;
	height: 160px;
}
.AlignText1
{
	font-weight: bold;
	position: relative;
}
.AlignText2
{
	font-weight: bold;
	position: relative;
	left: 19px;
}
.AlignText3
{
	font-weight: bold;
	position: relative;
	left: 22px;
}
.AlignText4
{
	font-weight: bold;
	position: relative;
	left: 17px;
}
