@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<div class="row">
    <div class="m-12">
        Respective copyrights and trademarks are held by Blizzard Entertainment.<br/>
        This website is not affiliated with Blizzard.<br/>
        Live character data is sourced from World of Warcraft servers.<br/>
    </div>
</div>