@page "/discord"
@using Solarian.League.Web.Components.Widgets

<PageTitle>Discord</PageTitle>

<h1>Discord</h1>

<div class="row">
    <div class="col-6">
        <p class="p-1">
            Welcome to our Discord page.  Here you can find information about our Discord server and see who is currently online. 
            If we are accepting new members, you can also find a link to join our Discord server.
        </p>
    </div>
    <div class="row">
        <div class="col-4">
            <ErrorBoundary>
                <ChildContent>
                    <ActiveDiscordUsers />
                </ChildContent>
                <ErrorContent>
                    <p class="blazor-error-boundary"></p>
                </ErrorContent>
            </ErrorBoundary>
        </div>
        <div class="col-8">
        </div>
        <div class="col-12">
            <iframe class="p-1" src="https://discord.com/widget?id=511303656193392652&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>

