@page "/"

<PageTitle>WoW - Antonidas - Solarian League</PageTitle>

<div class="text-center">
    <h1 class="text-light">Welcome</h1>
    <img class="img-fluid" src="../assets/images/solarian_league_heading.jpg" />
</div>