@page "/"

<PageTitle>WoW - Antonidas - Solarian League</PageTitle>

<div class="text-center">
    <h1 class="text-light">Welcome</h1>
    <img class="img-fluid" src="../assets/images/solarian_league_heading.jpg" />
</div>
<br />
<br />
<div class="row">
    <div class="col-12 text-center">
        <h3>This site is under construction.  Please check back later.</h3>
    </div>
    <div class="col-6">
        <p class="p-1">
            The Solarian League is set up to primarily be a raiding and content guild. We feel it is important to be friendly and supportive of other players and guild members. Please help lower level toons through quest line content and most of all have fun!
        </p>
        <p class="p-1">
            <span class="fw-bolder">Happy Hunting!</span>
        </p>
    </div>
    <div class="col-6">
        <p class="p-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut diam quam. Tempus iaculis urna id volutpat lacus. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Senectus et netus et malesuada. Congue nisi vitae suscipit tellus mauris a diam. Mollis aliquam ut porttitor leo. Non arcu risus quis varius quam. Lacus laoreet non curabitur gravida arcu ac. Habitasse platea dictumst quisque sagittis purus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
        </p>
    </div>
</div>

