@page "/"

<PageTitle>WoW - Antonidas - Solarian League</PageTitle>

<div class="text-center">
    <h1 class="text-light">Welcome</h1>
    <img class="img-fluid" src="../assets/images/solarian_league_heading.jpg" />
</div>
<br/><br/>
<div class="row">
    <div class="col-12 text-center">
        <h3>This site is under construction.  Please check back later.</h3>
    </div>
</div>
