@page "/"

<PageTitle>WoW - Antonidas - Solarian League</PageTitle>

<div class="row">
    <div class="col-12 text-center">
        <h1 class="text-light">Welcome</h1>
        <div class="text-center p-3">
            <img class="img-fluid rounded" src="/assets/images/solarian-league-heading.jpg"
                 alt="Solarian League Guild Banner with Characters" title="Solarian League Guild Banner with Characters" />
        </div>
    </div>
    <div class="col-12 text-center">
        <h3>This site is under construction, more content to come.</h3>
    </div>
    <div class="col-6">
        <p class="p-1">
            The Solarian League is set up to primarily be a raiding and content guild. We feel it is important to be friendly and supportive 
            of other players and guild members. Please help lower level toons through quest line content and most of all have fun!
        </p>
        <p class="p-1">
            <span class="fw-bolder">Happy Hunting!</span>
        </p>
    </div>
    <div class="col-6">
        <p class="p-1">
            In the world of Azeroth, the Solarian League guild draws its name from the esteemed civilization depicted in David Weber's
            Honor Harrington series. Inspired by the grandeur and power of the Solarian League from the books, our guild embodies the
            spirit of unity, exploration, and adventure.
        </p>
        <p class="p-1">
            Just as the Solarian League in the books dominates vast expanses of space with its technological prowess and political
            influence, the members of our guild conquer the lands of Azeroth with valor and determination. With each quest undertaken
            and each raid conquered, we honor the legacy of the Solarian League, forging our own path of glory in the virtual realms
            of World of Warcraft. Join us as we embark on epic adventures, where the stars serve as our guide and the bonds of
            camaraderie shine brighter than ever before!
        </p>
    </div>
</div>

