@page "/legal"

<PageTitle>Legal</PageTitle>

<h1>Legal</h1>

<div class="row">
    <div class="col-12">
        <p>
            Respective, logos, images, word marks, etc. are copyright and trademarks of Blizzard Entertainment.
        </p><p>
            Live character data is sourced from World of Warcraft servers.
        </p>
    </div>
</div>