@page "/legal"

<PageTitle>Legal</PageTitle>

<h1>Legal</h1>

<div class="row">
    <div class="m-12">
        Respective copyrights and trademarks are held by Blizzard Entertainment.<br />
        Live character data is sourced from World of Warcraft servers.<br />
        Images are sourced from the Blizzard Entertainment website.<br />
    </div>
</div>