@page "/roster"
@page "/roster/{*pageRoute}"
@using Solarian.League.Web.Components.Widgets

<PageTitle>Guild Roster</PageTitle>

<h1>Guild Roster</h1>

<div class="row">
    <div class="col-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut diam quam. Tempus iaculis urna id volutpat lacus. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Senectus et netus et malesuada. Congue nisi vitae suscipit tellus mauris a diam. Mollis aliquam ut porttitor leo. Non arcu risus quis varius quam. Lacus laoreet non curabitur gravida arcu ac. Habitasse platea dictumst quisque sagittis purus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
        </p>
    </div>
</div>

<div class="container mt-4">
    <ErrorBoundary>
        <ChildContent>
            <GuildRoster />
        </ChildContent>
        <ErrorContent>
            <p class="blazor-error-boundary"></p>
        </ErrorContent>
    </ErrorBoundary>
</div>
