@page "/roster"
@* @page "/roster/{*pageRoute}" *@
@using Solarian.League.Web.Components.Widgets
@attribute [StreamRendering(true)]

<PageTitle>Guild Roster</PageTitle>

<h1>Guild Roster</h1>

<div class="row">
    <div class="col-12">
        <p>
            This is the current member list for the Solarian League guild. 
            If you are interested in joining our guild, please contact one of the officers in-game.
        </p>
    </div>
</div>

<div class="container mt-4">
    <ErrorBoundary>
        <ChildContent>
            <GuildRoster />
        </ChildContent>
        <ErrorContent>
            <p class="blazor-error-boundary"></p>
        </ErrorContent>
    </ErrorBoundary>
</div>
