@page "/termsofuse"

<PageTitle>Terms Of Use</PageTitle>

<h1>Terms Of Use</h1>

<div class="row">
    <div class="col-12">
        <p>
            This site is for entertainment purposes only. We are not responsible for any content or data that is displayed on this site.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            Respective, logos, images, word marks, etc. are copyright and trademarks of Blizzard Entertainment.
        </p>
        <p>
            Live character data is sourced from World of Warcraft servers.
        </p>
    </div>
</div>
