@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <article class="content px-4 h-75">
            @Body
        </article>
        
        <footer class="px-4">
            Copyright © Solarian League @DateTime.UtcNow.Year, All rights reserved. All other content belongs to their respective owners.
        </footer>
    </main>
</div>
