@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-light bg-dark text-sm-center text-lg-center text-xl-center text-xxl-center text-center">
            <h1 class="small">Solarian League - Antonidas</h1>
        </div>

        <article class="content px-4 h-100 text-light">
            @Body
        </article>
    </main>

    <footer class="sticky-bottom text-light text-opacity-50 bg-dark text-sm-start text-lg-start text-xl-start text-xxl-start">
        Copyright © Solarian League 2007-@DateTime.UtcNow.Year, All rights reserved.
        <NavLink class="link-light link-opacity-50 p-1" href="privacy">Privacy</NavLink>
        <NavLink class="link-light link-opacity-50 p-1" href="termsofuse">Terms of Use</NavLink>
        <NavLink class="link-light link-opacity-50 p-1" href="legal">Legal</NavLink>
    </footer>
</div>